.nav {
    background-color: red;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
}

.nav a {
    padding: 1%;
}

/* Standard Desktop */
body {
    font-size: 18px;
}

/* Tablets (Querformat) */
@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Smartphones */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
