body {
    background: radial-gradient(
        circle,
        rgb(1,1,1,1) 12.5%,
        rgb(61,9,121,1) 30%,
        rgb(255,0,0,1) 25%,
        rgb(255,0,185,1) 35%,
        rgb(0, 255, 221) 40%,
        rgb(255,175,0,1) 45%,
        rgb(0,181,255,1) 50%,
        rgb(0,14,255,1) 20%
    );
}

.r6 {
    width: 100%;
    height: 33.3%;
}

.c6 {
    width: 12.5%;
    height: 100%;
    position: relative;
    float: left;
}

.Titel {
    text-align: center;
    font-size: 5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: pink;
    -webkit-text-stroke-width: 0.125px;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    border: 7px solid orange;
}

img:hover {
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 10px 10px 10px pink;
}

.Info {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Pixelify Sans", sans-serif;
}

.Quiz {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Media {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Programmieren {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Radio {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Apps {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Install {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Minecraft {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Websites {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}
