body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSbWOL6AqgFI9M4eblTENTH_X5OYkzBMpvZA&s");
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}

.nav {
    background-color: red;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
}

.nav a {
    padding: 1%;
}

.Home {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Mods {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Packs {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Maps {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Other {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Add-Ons {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Resource {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.CurseForge {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Download {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Switzerland {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Phone {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Vampire {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Cat {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Aphmau {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.ICT {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.BMW {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Volcano {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

/* Standard Desktop */
body {
    font-size: 18px;
}

/* Tablets (Querformat) */
@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Smartphones */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
