.Pilatus {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Playwrite AT", cursive;
}

.Sunshine {
    text-align: center;
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.NRJ {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Home {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Radio {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Playwrite AT", cursive;
}

.Argovia {
    text-align: center;
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.FM {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Central {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.See {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Playwrite AT", cursive;
}

.Basilisk {
    text-align: center;
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.SRF {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.SRF3 {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Rete {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Playwrite AT", cursive;
}
